@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--color-black: rgb(0, 0, 0);
	--color-white: rgb(255, 255, 255);

	--color-one: rgb(30, 30, 30);
	--color-two: rgb(50, 50, 50);
	--color-three: rgb(70, 70, 70);

	--color-green: rgb(80, 255, 127);
	--color-orange: rgb(255, 127, 80);
	--color-purple: rgb(127, 80, 255);
	--color-yellow: rgb(255, 215, 80);
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', sans-serif;
	height: 100vh;
	margin: 0;
}

a:hover {
	color: var(--color-yellow);
}

ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

p {
	margin: 0;
	margin-bottom: 1em;
}
